.Defiris {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto';
}

.poolbox{
  align-items: center;
}

.poolbox:hover{
  border: solid 2px grey;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dtitle {
  size: 24em;
}

.pool {
  flex-grow: 1;
}

.coins{
  align-content: center;
  align-items: center;
}

.el:hover {
  border: solid 2px grey;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
